version: "3.0"
services:
  backend_tegra_gpu_enabled:
    network_mode: "host"
    build: ./backend
    image: flask-app
    privileged: true
    expose:
      - "5000"
      - "5443"
    volumes:
      - /aws_dda:/aws_dda
      - /tmp:/tmp
      - /dev/shm:/dev/shm
      - /usr/local/cuda:/usr/local/cuda/
      - /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    devices:
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
    environment:
      - OS=$OS
      - DDA_SYSTEM_USER_ID=$DDA_SYSTEM_USER_ID
      - DDA_SYSTEM_GROUP_ID=$DDA_SYSTEM_GROUP_ID
      - DDA_ADMIN_USER_ID=$DDA_ADMIN_USER_ID
      - DDA_ADMIN_GROUP_ID=$DDA_ADMIN_GROUP_ID
      - AWS_REGION
      - SVCUID
      - AWS_GG_NUCLEUS_DOMAIN_SOCKET_FILEPATH_FOR_COMPONENT
      - AWS_CONTAINER_AUTHORIZATION_TOKEN
      - AWS_CONTAINER_CREDENTIALS_FULL_URI
      - AWS_IOT_THING_NAME
      - COMPONENT_WORK_PATH
      - KERNEL_ROOT_PATH
      - INFERENCE_COMPONENT_DECOMPRESED_PATH
      - LOCAL_SERVER_COMPONENT_DECOMPRESSED_PATH
      - JETSON_CUDA=$JETSON_CUDA
      - JETSON_TENSORRT=$JETSON_TENSORRT
      - CUDA_HOME=/usr/local/cuda/
      - LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CUDA_HOME/lib64/:/usr/lib/aarch64-linux-gnu/tegra:/usr/local/cuda/targets/aarch64-linux/lib/
      - GRPC_POLL_STRATEGY=poll
      - GRPC_ENABLE_FORK_SUPPORT=1
      - PYTHONPATH=/opt/tritonserver/backends/python:/
      - DISPLAY=:0
      - QT_X11_NO_MITSHM=1
      - ARGUS_HEADLESS=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    profiles: [tegra]
  backend_generic:
    network_mode: "host"
    build: ./backend
    image: flask-app
    privileged: true
    expose:
      - "5000"
      - "5443"
      - "8000"
      - "8001"
      - "80002"
    volumes:
      - /aws_dda:/aws_dda
      - /tmp:/tmp
      - /dev/shm:/dev/shm
    environment:
      - DDA_SYSTEM_USER_ID=$DDA_SYSTEM_USER_ID
      - DDA_SYSTEM_GROUP_ID=$DDA_SYSTEM_GROUP_ID
      - DDA_ADMIN_USER_ID=$DDA_ADMIN_USER_ID
      - DDA_ADMIN_GROUP_ID=$DDA_ADMIN_GROUP_ID
      - AWS_REGION
      - SVCUID
      - AWS_GG_NUCLEUS_DOMAIN_SOCKET_FILEPATH_FOR_COMPONENT
      - AWS_CONTAINER_AUTHORIZATION_TOKEN
      - AWS_CONTAINER_CREDENTIALS_FULL_URI
      - AWS_IOT_THING_NAME
      - COMPONENT_WORK_PATH
      - KERNEL_ROOT_PATH
      - INFERENCE_COMPONENT_DECOMPRESED_PATH
      - LOCAL_SERVER_COMPONENT_DECOMPRESSED_PATH
      - JETSON_CUDA=$JETSON_CUDA
      - JETSON_TENSORRT=$JETSON_TENSORRT
      - LD_LIBRARY_PATH=$LD_LIBRARY_PATH
      - GRPC_POLL_STRATEGY=poll
      - GRPC_ENABLE_FORK_SUPPORT=1
      - PYTHONPATH=/opt/tritonserver/backends/python:/
    profiles: [generic]
  frontend:
    build: ./frontend
    image: react-webapp
    ports:
      - "3000:80"
      - "3443:443"
    volumes:
      - /aws_dda:/aws_dda
